<!--onclick removed for testing purposes-->
<!--Template component tutorial review needed to ensure no missed takes have been made.-->

@using Blazorme
@using StBarnabasHospiceTable.Client.Pages.SessionState
<div class="container-fluid border border-primary" style="text-align:center; width: 100%; height:600px">
    <Split>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    @if (displayButtons[0] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button1" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageOne" placeholder="display panel one" alt="Panel one image" src="/@PaneOne" />
                    }
                </SplitPane>
                <SplitPane MinSize="0">
                    @if (displayButtons[1] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button2" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageTwo" placeholder="display panel two" alt="Panel one image" src="/@PaneTwo" />
                    }
                </SplitPane>
            </Split>
        </SplitPane>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    @if (displayButtons[2] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button2" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageThree" placeholder="display panel three" alt="Panel one image" src="/@PaneThree" />
                    }
                </SplitPane>
                <SplitPane MinSize="0">
                    @if (displayButtons[3] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button4" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageTwo" placeholder="display panel one" alt="Panel one image" src="/@PaneFour" />
                    }
                </SplitPane>
            </Split>
        </SplitPane>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    @if (displayButtons[4] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button1" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageThree" placeholder="display panel three" alt="Panel one image" src="/@PaneFive" />
                    }
                </SplitPane>
                <SplitPane MinSize="0">
                    @if (displayButtons[5] == true)
                    {
                        <div class="container-pane">
                            <a class="oi oi-plus btn button1" aria-hidden="true" style="border-radius:35%; padding:50px" @onclick="ShowPopup"></a>
                        </div>
                    }
                    else
                    {
                        <img class="PaneImage ImageThree" placeholder="display panel three" alt="Panel one image" src="/@PaneSix" />
                    }
                </SplitPane>
            </Split>
        </SplitPane>
    </Split>
</div>
<!--If attribute == 1 then bind-value="PaneOne", to be placed inside the first pane-->
@if (imagePopup == true)
{
    <!--TODO : time delay on loading data from database causing error of null reference in Items model-->
    @if (Items != null)
    {
        <EditForm Model="@Items" OnValidSubmit="@ValidSubmit">
            <DataAnnotationsValidator />

            <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>@runningCount</p>
                            <h3 class="modal-title"> Select image </h3>
                            <!--Button to close the popup-->
                            <a type="button" class="close oi oi-circle-x" aria-hidden="true" @onclick="ClosePopup"></a>
                        </div>
                        <div class="modal-body">
                            <!--Selection options dropdown list-->
                            <InputSelect id="image" type="text" @bind-Value="PaneOne">
                                @foreach (var item in Items)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                            </InputSelect>
                            <ValidationMessage For="@(() => Items[0].Image)" />
                        </div>
                        <div class="modal-footer" style="text-align:center">
                            <button type="submit" class="oi oi-circle-check" aria-hidden="true"> Select </button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>

    }
    else
    {
        <p>Loading data...</p>
    }
}

<style>
    a.button1 {
        border: 0.1em solid #000000;
        border-radius: 0.12em;
        box-sizing: border-box;
        color: #000000;
    }

        a.button1:hover {
            color: #FFFFFF;
            background-color: #000000;
        }

    .container-pane {
        padding: 70px 0;
        vertical-align: middle
    }
</style>

@code {
    bool displayButton = true;
    bool[] displayButtons;
    int runningCount = 0;

    bool imagePopup = false;

    //Counter state management
    //TODO : convert into switch statement
    void displayButtonOne()
    {
        runningCount = 1;
    }
    void displayButtonTwo()
    {
        runningCount = 2;
    }
    void displayButtonThree()
    {
        runningCount = 3;
    }
    void displayButtonFour()
    {
        runningCount = 4;
    }
    void displayButtonFive()
    {
        runningCount = 5;
    }
    void displayButtonSix()
    {
        runningCount = 6;
    }

    void CloseButton()
    {
        displayButton = false;
    }
    void ShowButton()
    {
        displayButton = true;
    }

    void ClosePopup()
    {
        imagePopup = false;
        runningCount = 0;
    }
    void ShowPopup()
    {
        imagePopup = true;
    }

    void ValidSubmit()
    {
        ClosePopup();
        CloseButton();
        SelectPane();
    }

    [Parameter] public List<Item> Items { get; set; } = new List<Item>();
    //TODO : place string into list<string>, not just six different strings
    public string PaneOne = "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F34%2F2018%2F05%2F12170411%2Fcat-kitten-138468381.jpg&q=85";
    public string PaneTwo = "Images/yesEdit.png";
    public string PaneThree = "Images/yesEdit.png";
    public string PaneFour = "Images/yesEdit.png";
    public string PaneFive = "Images/yesEdit.png";
    public string PaneSix = "Images/yesEdit.png";

    //TODO : Create selection pane method, public string SelectPane(List<string> PaneSoruce) if statements
    void SelectPane()
    {
        
    }
}
